{% load static %}

<head>
    <title>
        {% block title %}{% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/admin_panel/base.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% block style %}
    {% endblock %}


</head>

<body>
{% if user.is_authenticated %}
    {% block content %}
    {% endblock %}
{% else %}

{% endif %}


{% block script %}
{% endblock %}
</body>
