{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}Event{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/admin_panel/create_event.css' %}">
{% endblock %}

{% block content %}
    {% include "admin_panel/sidebar.html" %}

    <div class="create_event" style="margin: 10px 10px 10px 10px">

        <h3>Создание обычного события</h3>
        <h5>Координаты можно узнать
            <a href="https://nominatim.openstreetmap.org/ui/search.html?q=стерлитамак+гоголя+101">[по данной ссылке]</a>
            в разделе "detail"</h5>
        <h5 style="background-color: #b9def0; width: 50%">При создании выбираешь либо фотку, либо цветную картинку</h5>
        <form method="post" accept-charset="utf-8" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Create event"
                   style="padding: 7px 7px 7px 7px; border-radius: 10px; background: blue; color: white;">
        </form>

    </div>


{% endblock %}

{% block script %}
{% endblock %}