/* кнопка регистрации */
.reg{
    background-color: #FFCB46;
    padding: .5em 3em;
    outline: none;
    border-radius: 30px;
}
/* убрали рамку при нажатии кнопки*/
*{
outline: none !important;
}

.button{
    background-color: #FFCB46;
    padding-top: 3px;
    padding-right: 3em;
    padding-bottom: 3px;
    padding-left: 3em;
    outline: none;
    border-radius: 30px;
    color: #FFFFFF;
    position: relative;
    left: 50%;
    transform: translate(30%, 0);
}

.button-center{
    left: 0;
    transform: translate(0, 0);
}

.input-reg{
        width: 250px;
    height: 40px;

}
.button-reg{
    padding-right: 4em;
    padding-bottom: 5px;
    padding-left: 4em;
}
::-webkit-input-placeholder {color:black; text-align: center}

.button-nearby{
      float:left;
   margin-right:4px
}

.button-event{
    background-color: #4697E2;
    border-radius: 10px;
    transform: translate(30px, 0);
    margin-top: 5%;
    margin-left: 10px;
}

.button-event-right{
    background-color: #FFCB46;
    border-radius: 10px;
    transform: translate(30px, 0);
    margin-top: 5%;
    margin-left: 10px;
}
.button-nearby-box{
    float: left;
    margin-right: 20px;
    margin-block: 30px;
    background: #4697E2;

}
.button-nearby-box-left{
    margin-left: 30px;
    background: #FFCB46;
}

.button_save{
        position: relative;
    left: 50%;
    transform: translate(-50%, 0);
        background-color: #4697E2;
    outline: none;
    border-radius: 30px;
    color: #FFFFFF;
    margin-top: 5%;

}