.square {
    position: absolute;
    right: 15%;
    width: 311px;
    height: 410px;
    background: #FFCB46;
    border-radius: 10px;
}
.oval {
    margin: 30px auto 0px;
    width: 120px;
    height: 120px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;

    background: #C4C4C4;
}
.user-name{
    margin: 30px auto 0px 35%;
}

.user-table{
        margin: 30px auto 0px 20%
}

.box-event{
    position: absolute;
width: auto;
height: auto;

background: #FFFFFF;
border: 1px solid #003B71;
box-sizing: border-box;
border-radius: 30px;
    margin-left: auto;
}


.square-right{
    left: 15%;
    background: #4697E2;
}

.oval-right{
        margin: 0px auto 0px;
}

.user-event{
    margin: 30px auto 0px 30%;
}

.text-color{
    color: #FFCB46;
}
.text-event{
    text-decoration: underline;
    text-decoration-color: #003B71;
}
.event-name{
    margin: 30px auto 0px auto;
    text-decoration-color: #FFCB46;
    text-align: center;
}

.user-table-box{
        margin: 30px auto 0px 10%
}
.shirina{
        padding-top: 0px;
    padding-right: 100px;
    padding-bottom: 0px;
    padding-left: 50px;
}
.padding-bottom-0{
    padding-bottom: 0px;
}

.row-event-box{
    padding-bottom: 450px;
}
.col-lm3-top{
    right: 0;
}

.col-md-2-left{
    left: 3%
}
.row-top3{
    padding-top: 3px;
}