.color-blue{
    background-color: #4697E2;
}
.info-table{
        margin: 50px 0 0 50px;
}

.authorization{
    margin: 50px 0 0 50px;
    left: 35%;
    padding-bottom: 5px;
    color: #FFFFFF;

}
.row {
    margin-right: 0;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.center{
    font-size: 17px;
    color: #fff;
    line-height: 2;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
    padding-left: 50px;
}

.input-style{
    padding: .5em 1em;
    border-radius: 30px;
    margin-bottom: 10px;
    border: 2px solid #FFCB46;
}

.td-1{
    color: #FFFFFF;
    font-size: 17px;
}

.td-2{
    color: #FFD464;
    font-size: 17px;
}

.s14px{

    font-size: 14px;
}

.img_index{
    position: absolute;
    top: 56%;
    left: 5%;
width: 498px;
height: 298px;
}

.error-style{
    white-space: nowrap;
    color: red;
    margin: 0px 13px 10px;
}

