
.box-user{
    position: static;
width: auto;
height: auto;

background: #FFFFFF;
border: 1px solid #003B71;
box-sizing: border-box;
border-radius: 30px;
    margin-left: auto;
}

.square_user {
    position: absolute;
    right: 15%;
    width: 642px;
    height: 435px;
    background: #b9def0;
    border-radius: 10px;
}
.evenly {
    left: 300%;
    background: #4697E2;
}

.name_profile{
        text-align: center;
         color: #4697E2
}

.square-right{
    left: 15%;
    background: #4697E2;
}

.oval {
    margin: 30px auto 0px;
    width: 120px;
    height: 120px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;

    background: #C4C4C4;
}

.row-event-box{
    padding-bottom: 0;
}

.square {
    position: absolute;
    right: 15%;
    width: 311px;
    height: 400px;
    background: #FFCB46;
    border-radius: 10px;
}

.user-name{
    margin: 30px auto 0px 35%;
}

.user-table{
        margin: 30px auto 0px 20%
}

.col-lm3-top{
    right: 0;
}

.col-md-2-left{
    left: 3%
}
.row-top3{
    padding-top: 3px;
}