{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>События</title>
    <link rel="stylesheet" href='{% static "/bootstrap/css/bootstrap.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "/css/buttons.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "/css/style.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "/css/event.css" %}' type="text/css">
    {% if not request.user.is_authenticated %}
    <script>
            location.replace("/");




    </script>
    {% endif %}
</head>
<body>
<div class="row">
    <div class="col-sm-8">Лого “ComeWithMe”</div>
    <div class="col-sm-4">
        <form action="{% url 'register' %}">
            <button type="submit" class="btn reg button-nearby">Найти собтыие</button>
        </form>
        <form action="{% url 'register' %}">
            <button class="btn reg button-nearby" type="submit">Создать событие</button>
        </form>
    </div>
</div>
<div class="row row-event-box">
    <div class="col-sm-4">
        <div class="square">
            <div class="oval"><img width="120" height="120" style="border-radius: 60px;"
                                   src="{{request.user.photo.url}}"></div>
            <p class="user-name">{{request.user.last_name}} {{request.user.first_name}}</p>
            <table class="user-table">
                <tr>
                    <td>Популярность</td>
                    <td align="right"> 4,5/5</td>
                </tr>
                <tr>
                    <td>Количество событий</td>
                    <td align="right">{{event_coll_user_login}}</td>
                </tr>
            </table>
            <form action="{% url 'register' %}">
                <button type="submit" class="btn reg button-event">Настроить профиль</button>
            </form>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="box-event">
            {% if error %}
            {{ error }}
            {% else %}
            <p class="text-event event-name">{{ event_name }}</p>
            <div class="row padding-bottom-0">
                <div class="col-sm-4 shirina">Дата</div>
                <div class="col-md-7" style="color:#003B71 ">{{ event_date_event }}</div>
            </div>
            <div class="row padding-bottom-0">
                <div class="col-sm-4 shirina">Теги</div>
                <div class="col-md-7" style="color:#003B71 "> {{ event_tags }}</div>
            </div>
            <div class="row padding-bottom-0">
                <div class="col-sm-4 shirina">Стоимость</div>
                <div class="col-md-7" style="color:#003B71 ">{{ event_price }} р</div>
            </div>
            <div class="row padding-bottom-0">
                <div class="col-sm-4 shirina"> Количество участников</div>
                <div class="col-md-7" style="color:#003B71 ">1/{{ event_max_count_users }}</div>
            </div>
            <div class="row padding-bottom-0">
                <div class="col-sm-4 shirina">Список участников</div>
                <div class="col-md-2" style="color: #FFCB46 ">{% for c in event_list_users %} {{ c }}, {% endfor %}
                </div>
            </div>
            <div class="row padding-bottom-0">
                <div class="col-sm-4 shirina">Ищу</div>
                <div class="col-md-7" style="color:#003B71 ">{{event_search_gender}}</div>
            </div>
            <form action="{% url 'register' %}">
                <button class="btn reg button-nearby-box button-nearby-box-left" type="submit">Принять</button>
            </form>
            <form method="get" action="{% url 'event' %}">
                <input name="page" type="hidden" value="{{ page }}">
                <button class="btn reg button-nearby-box " type="submit">Дальше</button>
            </form>
            {% endif %}
        </div>
    </div>
    <div class="col-sm-4">
        <div class="square square-right">
            <p class="user-name user-event">Создатель события</p>
            <div class="oval oval-right"><img width="120" height="120" style="border-radius: 60px;"
                                              src="{{event_user_photo}}"></div>
            <p class="user-name text-color">{{event_user_name}}</p>
            <table class="user-table">
                <tr>
                    <td>Популярность</td>
                    <td align="right" class="text-color"> 4,5/5</td>
                </tr>
                <tr>
                    <td>Количество событий</td>
                    <td align="right" class="text-color">{{event_coll_user}}</td>
                </tr>
            </table>
            <form action="{% url 'register' %}">
                <button type="submit" class="btn reg button-event-right">Посмотреть профиль</button>
            </form>
            <form action="{% url 'register' %}">
                <button type="submit" class="btn reg button-event-right">Написать сообщение</button>
            </form>
        </div>
    </div>
</div>
<div class="row row-top3">
    <a class="col-md-2 col-md-2-left" href="{% url 'list_my_created_events' %}">Созданные события</a>
    {% if event_coll_user_login is None %}
    0
    {% else %}
    <p class="col-md-3 col-lm3-top">event_coll_user_login</p>
    {% endif %}
</div>
<div class="row row-top3">
    <div class="col-md-2 col-md-2-left">Принятые события</div>
    <div class="col-md-3 col-lm3-top">{{ accepted_event_coll_user_login }}</div>
</div>
<div class="row row-top3">
    <div class="col-md-2 col-md-2-left">Сообщения</div>
    <div class="col-md-3 col-lm3-top">2</div>
</div>
<div class="row row-top3">
    <div class="col-md-2 col-md-2-left">Оставленные отзывы</div>
    <div class="col-md-3 col-lm3-top">2</div>
</div>
<div class="row row-top3">
    <div class="col-md-2 col-md-2-left">Мои отзывы</div>
    <div class="col-md-3 col-lm3-top">2</div>
</div>

</body>
</html>